
<form action="<%=action %>", method="post" >
  <input type="hidden" name="_method" value="<%= method %>" />
  <%= auth_token %>

  <label id="sub_title"> Title: </label>
    <input
      id="sub_title"
      name="sub[title]"
      value="<%= @sub.title %>"
     />

  <label id="sub_description"> Description </label>
    <textarea
      id="sub_description"
      name="sub[description]"> <%= @sub.description %> </textarea>

  <input type="Submit" value="<%= submit_msg %>">

</form>
