<h1> <%= @sub.title %> </h1>
<p>
  <%= @sub.description %>
</p>

<h2> Posts: </h2>
<hr>
<ul>
  <% @sub.posts.each do |post| %>
    <li>
      <%= link_to post.title, post.url || post_url(post) %> |
      <%= link_to "Comments", post_url(post) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a post", new_post_url %>
