<form action="<%=action %>", method="post" >
  <input type="hidden" name="_method" value="<%= method %>" />
  <%= auth_token %>

  <label id="post_title"> Title: </label>
    <input
      id="post_title"
      name="post[title]"
      value="<%= @post.title %>"
     />

  <label id="post_url"> URL: </label>
     <input
       id="post_url"
       name="post[url]"
       value="<%= @post.url %>"
      />

  <% Sub.all.each do |sub| %>
    <label><%= sub.title %>
      <input type="checkbox"
              value="<%=sub.id %>"
              name="post[sub_ids][]"
              <%= "checked" if @post.sub_ids.include?(sub.id) %>>
      <input type="hidden" name="post[sub_ids][]" value="">
    </label><br>
  <% end %>




  <label id="post_content"> Content </label>
    <textarea
      id="post_content"
      name="post[content]"> <%= @post.content %> </textarea>

  <input type="submit">

</form>
